<div class="row">
  <% @modes.each do |mode| %>
    <div class="col-sm-6">
      <%= link_to "/modes/#{mode.id}" do %>
        <button type="button" class="btn btn-primary btn-lg text-center"><%= mode.formatted_name %></button>
      <% end %>
    </div>
  <% end %>
</div>
