<div class="row">
  <% @modes.each do |mode| %>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-lg text-center"><%= mode.formatted_name %></button>
    </div>
  <% end %>
</div>
